.equal {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.table-nonfluid {
   width: auto !important;
}

.table td {
   text-align: center;
}

.btn-default.button0 {
  background-color: rgba(194, 25, 0, 0.5);
}

.btn-default.button1 {
  background-color: rgba(236, 45, 0, 0.5);
}

.btn-default.button2 {
  background-color: rgba(255, 104, 48, 0.5);
}

.btn-default.button3 {
  background-color: rgba(255, 146, 60, 0.5);
}

.btn-default.button4 {
  background-color: rgba(255, 201, 133, 0.5);
}

.btn-default.button5 {
  background-color: rgba(176, 255, 72, 0.5);
}

.btn-default.button6 {
  background-color: rgba(106, 187, 78, 0.5);
}

.btn-default.button7 {
  background-color: rgba(67, 170, 51, 0.5);
}

.btn-default.button8 {
  background-color: rgba(0, 146, 64, 0.5);
}

.btn-default.button9 {
  background-color: rgba(0, 109, 57, 0.5);
}

.btn-default.button10 {
  background-color: rgba(0, 90, 30, 0.5);
}

.btn-default.button0.active {
  background-color: rgba(194, 25, 0, 0.9);
}

.btn-default.button1.active {
  background-color: rgba(236, 45, 0, 0.9);
}

.btn-default.button2.active {
  background-color: rgba(255, 104, 48, 0.9);
}


.btn-default.button3.active {
  background-color: rgba(255, 146, 60, 0.9);
}

.btn-default.button4.active {
  background-color: rgba(255, 201, 133, 0.9);
}

.btn-default.button5.active {
  background-color: rgba(176, 255, 72, 0.9);
}

.btn-default.button6.active {
  background-color: rgba(106, 187, 78, 0.9);
}

.btn-default.button7.active {
  background-color: rgba(67, 170, 51, 0.9);
}

.btn-default.button8.active {
  background-color: rgba(0, 146, 64, 0.9);
}

.btn-default.button9.active {
  background-color: rgba(0, 109, 57, 0.9);
}

.btn-default.button10.active {
  background-color: rgba(0, 90, 30, 0.9);
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(255,255,255); /* Black fallback color */
    background-color: rgba(255,255,255, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-visible {
  width: 100%;
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    /*top: 25%;  25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 1%; /* 30px top margin to avoid conflict with the close button on smaller screens */
    font-size: 400px;
    color: #000;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay:focus a {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index:100;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
